<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="可根据发票号，录入人，录入时间进行模糊查询">
            </div>
            <#if shiro.hasPermission("invoice:invocheckdetl:query")>
            <a class="btn btn-default" @click="query">查询</a>
            </#if>
            <#if shiro.hasPermission("invoice:invocheckdetl:scan")>
            <a class="btn btn-primary" @click="scan"><i class="fa fa-sign-in"></i>&nbsp;扫描录入</a>
            </#if>
            <!--<#if shiro.hasPermission("invoice:invocheckdetl:save")>-->
            <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("invoice:invocheckdetl:update")>-->
            <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
            <#if shiro.hasPermission("invoice:invocheckdetl:view")>
            <a class="btn btn-primary" @click="view"><i class="fa fa-pencil-square-o"></i>&nbsp;查看详情</a>
            </#if>
            <#if shiro.hasPermission("invoice:invocheckdetl:exportExcel")>
            <a class="btn btn-primary" @click="exportExcel"><i class="fa fa-file-excel-o"></i>&nbsp;导出Excel</a>
            </#if>
            <#if shiro.hasPermission("invoice:invocheckdetl:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票序号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceSeq" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票代码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceDataCode" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceNumber" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票类型名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceTypeName" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceTypeCode" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开票时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.billingTime" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">查询日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.checkDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">查验次数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.checkNum" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">校验码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.checkCode" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">机器码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.taxDiskCode" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">购方名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.purchaserName" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">购方纳税人识别号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.taxpayerNumber" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">购方银行账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.taxpayerBankAccount" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">购方地址，电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.taxpayerAddressOrId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">销方名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.salesName" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">销方纳税人识别号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.salesTaxpayerNum" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">销方银行，账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.salesTaxpayerBankAccount" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">销方地址，电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.salesTaxpayerAddress" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">价税合计</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.totalTaxSum" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">税额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.totalTaxNum" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">不含税价（金额）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.totalAmount" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.invoiceRemarks" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否为清单票</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.isBillMark" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">作废标志</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.voidMark" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收货员</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.goodsClerk" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收费标志字段</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.tollSign" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收费标志名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.tollSignName" placeholder=""/>
                        </div>
                    </div>
<!--											                    <div class="form-group">
                        <div class="col-sm-2 control-label">发票详情（清单票首行号为0，折扣清单票行号从-2开始，正常行号都是从1开始</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.invoiceDetailData" placeholder="发票详情（清单票首行号为0，折扣清单票行号从-2开始，正常行号都是从1开始"/>
                        </div>
                    </div>-->
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.crtUsr" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.crtDt" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最后修改人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.lastChgUsr" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最后修改日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly="true" v-model="invoCheckDetl.lastChgDt" placeholder=""/>
                        </div>
                    </div>
<!--											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备用字段1</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.ext1" placeholder="备用字段1"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备用字段2</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.ext2" placeholder="备用字段2"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备用字段3</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.ext3" placeholder="备用字段3"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备用字段4</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.ext4" placeholder="备用字段4"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备用字段5</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="invoCheckDetl.ext5" placeholder="备用字段5"/>
                        </div>
                    </div>-->
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <!-- 发票扫描 -->
    <div id="scanLayer" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-2 control-label">扫描枪录入:</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="scanStr" placeholder="光标停留此处后,再进行扫描"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/invoice/invocheckdetl.js?_${.now?long}"></script>
</body>
</html>